.activity-page-container {
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 1410px) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}