@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.task-deadline-warning-active {
  border: 2px solid var(--color-task-deadline-warning-color);
}

.task {
  border-radius: 15px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--color-secondary);

  &:hover {
    background-color: var(--color-project-bg-hover-secondary);
  }

  .task-input {
    padding: 0.75rem 3rem 0.6rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    .drag-handler {
      padding-right: 0.75rem;
    }

    .task-input-title {
      width: 80px;
      margin-left: 0.75rem;
      color: var(--color-text);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .task-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.75rem;
    white-space: nowrap;
    height: 100%;
    width: 40%;

    .task-info-deadline-warning {
      &:hover {
        span {
          color: var(--color-task-deadline-warning-color);
        }
      }

      span {
        color: var(--color-task-deadline-warning-color);
        margin-top: 4px;
        font-size: 20px;
      }
    }
  }
}

.task-color-secondary {
  background-color: var(--color-secondary-complement);

  &:hover {
    background-color: var(--color-project-bg-hover-secondary-complement);
  }
}

@for $i from 1 to 5 {
  .task-bg-color-#{$i} {
    background-color: var(--color-#{$i}) !important;

    &:hover {
      background-color: var(--color-hover-#{$i}) !important;
    }
  }
}