@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.float-right {
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  right: 2rem;
}

.float-left {
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  left: 2rem;
}
