@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.float-right {
  @include box_shadow();
  position: fixed;
  z-index: 800;
  bottom: 1.25rem;
  right: 1.25rem;
}

.float-left {
  @include box_shadow();
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  left: 2rem;
}
