@mixin reset_input() {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  &:focus {
    background: none;
    border: none;
    outline: none;
  }
}

@mixin reset_list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

@mixin reset_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}