@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.colors {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .colors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 70;
    background-color: var(--color-secondary-complement);
    border-radius: 15px;
    right: 65px;
    height: 40px;

    .colors-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;

      label {
        border-radius: 50%;
        background-color: var(--color-secondary);
        transition: background-color 0.25s;
        cursor: pointer;

        &:hover {
          background-color: var(--color-secondary-complement-light);
        }

        div {
          background-color: var(--color-icon);
          width: 17px;
          height: 17px;
          border-radius: 50%;
        }
      }
    }
  }

  .colors-open-list-button {
    @include reset_input();
    position: relative;
    z-index: 80;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    transition: background-color 0.25s;
    cursor: pointer;

    &:hover {
      span {
        opacity: 1;
      }
    }

    span {
      background-color: var(--color-icon);
      width: 23px;
      height: 23px;
      border-radius: 50%;
      border: 3px solid var(--color-icon);
      opacity: 0.8;
      transition: opacity 0.25s;
    }
  }

  .colors-open-list-button-active {
    span {
      opacity: 1;
    }
  }
}
