@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.setting-timezone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    .timezones-list {
        .select-menu-button span {
            border-radius: 0 !important;
        }
        span {
            color: var(--color-text);
        }
        padding-right: 0.75rem;
    }

    .selected-timezone-name {
        @include reset_scrollbar();
        color: var(--color-text);
        margin-right: 1rem;
        max-width: 170px;
        overflow-x: scroll;
    }
}
