@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.project-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-complement);
  font-size: 12px;
  color: var(--color-icon);
  border-radius: 12px;
  padding-right: 1rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-lighten);
    border-radius: 12px;
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
    span {
      color: var(--color-text);
    }
  }
}

.project-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--color-icon);
  span {
    padding-right: 0.5rem;
    color: var(--color-primary);
  }
}

.project {
  background-color: var(--color-project-bg);
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
  margin: 0 1.5rem 1.5rem 0;
  cursor: pointer;

  &:hover {
    background-color: var(--color-project-bg-hover);
    .project-head {
      background-color: var(--color-project-bg-hover);
    }
  }

  .project-head {
    position: relative;
    background-color: var(--color-project-bg);

    .project-head-background {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
    }
    
    .project-head-top {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem 0 1rem;
      margin-bottom: 1rem;
      z-index: 200;

      .project-head-top-draggable-icon {
        color: var(--color-icon);
        font-size: 20px;
        cursor: move;
        margin-right: 1rem;
        transition: color 0.25s;

        &:hover {
          color: var(--color-primary);
        }
      }

      .project-head-top-info {
        display: flex;
        justify-content: center;
        align-items: center;

        .project-head-top-sections-count {
          @extend .project-badges;
          margin-right: 0.5rem;
        }

        .project-head-top-tasks-count {
          @extend .project-badges;
          margin-right: 0.5rem;
        }
      }
    }

    .project-head-bottom {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      height: 80px;
      width: 100%;
      padding: 0 1rem;
      z-index: 200;
      .project-head-bottom-left-side{

      }

      .project-head-bottom-title {
        color: var(--color-text);
      }

      .project-head-bottom-text {
        @extend .project-info-text;
      }
    }
  }

  .project-body {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .project-body-prj-progress-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .project-body-prj-progress-days {
        @extend .project-info-text;
        padding-bottom: 0.25rem;
      }
    }
  }
}