@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.profile {
  position: relative;
  padding: 1rem;
  height: 180px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .profile-background-image {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .profile-picture-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(35px);
    margin-left: 1rem;
    z-index: 200;


    .profile {
      position: relative;
      padding: 1rem;
      height: 180px;
      background-color: black;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .profile-background-image {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
      }

      .profile-picture-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transform: translateY(35px);
        margin-left: 1rem;
        z-index: 200;

        .profile-name {
          font-size: 18px;
          color: var(--color-text);
          margin-left: 1rem;
        }
      }
    }

    .profile-name {
      font-size: 18px;
      color: var(--color-text);
      margin-left: 1rem;
    }
  }
}

.upload-picture-modal {

  .upload-picture-modal-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .upload-picture-modal-inputs-wallpaper {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-picture-modal-wallpaper-preview {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px 15px 0 0;
        }

        label {
          button {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0 0.5rem 0.5rem 0;

            span {
              font-size: 13px;
            }
          }
        }
      }

      .upload-picture-modal-inputs-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(60px);

        .profile-picture {

        }

        .upload-input-label {
          button {
            margin-top: 0.75rem;
          }
        }
      }
    }

    .upload-picture-modal-inputs-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6rem;
      padding: 1rem;

      .upload-picture-modal-profile-name {
        @include reset_input();
        color: var(--color-text);
        background-color: var(--color-modal-input-bg);
        border-radius: 15px;
        padding: 0.5rem 1rem;

        &:focus,
        &:hover {
          background-color: var(--color-modal-input-bg-hover);
        }
      }

      .upload-picture-modal-profile-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
          transform: translateX(1px);
        }
      }
    }
  }
}
