@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.labels-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  .labels {
    @include reset_scrollbar();
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    margin-top: 2rem;
      height: 100px;

    .create-input-container {
      margin: 0 2.5rem 0 2rem;
    }

    .labels-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      .label {
        margin-right: 2.5rem;
      }
    }
  }
}
