@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.labels-container {
  @include reset_scrollbar();
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .labels {
    @include reset_scrollbar();
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    margin-top: 1.75rem;
    min-height: 68px;

    @media screen and (max-width: 768px) {
      margin-top: 1.25rem;
    }

    .create-input-container {
      margin: 0 2.5rem 0 2rem;
      padding:0;

      @media screen and (max-width: 768px) {
        margin: 0 2.5rem 0 1rem;
      }
    }

    .labels-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      .label {
        margin-right: 2.5rem;
      }
    }
  }
}
