@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.labels-select-menu {
  @include reset_list();
  @include reset_scrollbar();
  @include box_shadow();
  background-color: var(--color-modal-label-box-bg);
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 120px;
  overflow-y: scroll;
  position: absolute;
  top: -130px;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 1;
  transform: translateY(0);

  li {
    margin: 0.75rem 0 0 1.5rem;
    padding-right: 0.5rem;
  }
}

.labels-select-menu-no-match-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  font-size: 18px;
  width: 100%;
  height: 100%;

  span {
    margin-left: 0.5rem;
    font-size: 20px;
    color: var(--color-primary);
  }
}

@keyframes fadeInBox {
  0% {opacity: 0;transform: translateY(22%);}
  100% {opacity: 1;transform: translateY(0);}
}

@keyframes fadeOutBox {
  0% {opacity: 1;transform: translateY(0);}
  50%{opacity: 0;}
  100% {opacity: 0;transform: translateY(30%);}
}

.labels-box-fade-enter {
  animation-name: fadeInBox;
  animation-duration: 360ms;
  animation-iteration-count: 1;
}

.labels-box-fade-exit {
  animation-name: fadeOutBox;
  animation-duration: 360ms;
  animation-iteration-count: 1;
}