.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 0 2rem;
  background-color: var(--color-secondary);
  padding-left: 1rem;
  border-radius: 15px;
  height: 65px;
  width: fit-content;

  .member {
    margin-right: 0.75rem;
  }

  .activity-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;

    p {
      color: var(--color-text);
      margin: 0;
    }

    span {
      color: var(--color-icon);
      font-size: 12px;
    }
  }

  .activity-status {
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: var(--color-text);
      font-size: 18px;
    }
  }

  .activity-status-D {
    background-color: var(--color-activity-status-delete);
  }

  .activity-status-C {
    background-color: var(--color-activity-status-create);
  }

  .activity-status-U {
    background-color: var(--color-activity-status-update);
  }
}