@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.section-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .section-bar-new-sec {
    transition: background-color 0.25s;
    padding: 0.25rem 1rem;
    background-color: transparentize($color: $second-white, $amount: 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    &:hover,
    &:focus-within {
      background-color: $second-white;
    }

    input {
      @include reset_input();
      color: $icon;
      margin-left: 0.5rem;
    }

    button {
      @include reset_input();
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        span {
          color: $primary;
        }
      }
      span {
        color: $icon;
        font-size: 20px;
        transition: color 0.25s;
      }
    }
  }

  .section-bar-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    margin-left: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .section {
      padding: 0.5rem 1rem;
      border-radius: 15px;
      margin-right: 0.5rem;
      background-color: $second-white;
      color: $text;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        background-color: transparentize($color: $second-white, $amount: 0.4);
      }
    }

    .section-active {
      background-color: $primary;
      color: $second-white;

      &:hover {
        background-color: transparentize($color: $primary, $amount: 0.4);
      }
    }
  }
}
