body[theme="dark"] {
  --color-primary: #4ECCA3;
  --color-primary-lighten: #44b993;
  --color-primary-transparentize: rgba(78, 204, 163, 0.7);
  --color-secondary: #232931;
  --color-secondary-complement: #393E46;
  --color-secondary-complement-light: #414750;
  --color-secondary-complement-transparentize: rgba(57, 62, 70, 0.5);
  --color-icon: #8c979b;
  --color-icon-lighten: #a7b3b9;
  --color-icon-complement: #ffffff;
  --color-page-container-bg: #393E46;
  --color-text: #EEEEEE;
  --color-shadow: rgba(18, 20, 21, 0.5);

  --color-loading-screen-bg: #282f38;
  --color-loading-screen-spinner: #4ECCA3;

  --color-sidemenu-item-bg-active: rgba(78, 204, 163, 0.2);
  --color-sidemenu-item-bg-hover: rgba(78, 204, 163, 0.1);

  --color-input-bg: rgba(35, 41, 49, 0.5);
  --color-input-bg-hover: #232931;
  --color-input-text: #8c979b;

  --color-task-checkbox: #363a42;
  --color-task-checkbox-border: #626d72;
  --color-task-checkbox-hover: #3e434b;
  --color-task-deadline-warning-color: #ce5a4b;
  --color-task-bg-hover: #282f38;

  --color-label-chackbox-active: rgba(78, 204, 163, 0.2);
  --color-label-chackbox-hover: rgba(78, 204, 163, 0.1);

  --color-labels-tab-bg: rgba(65, 71, 80, 0.37);
  --color-labels-tab-bg-active: #3E5B59;
  --color-labels-tab-bg-hover: #3B4D50;

  --color-project-bg: #232931;
  --color-project-bg-hover-secondary: #282f38;
  --color-project-bg-hover-secondary-complement: #434850;

  --color-select-menu-bg: #282f38;
  --color-select-menu-item-hover-bg: rgba(78, 204, 163, 0.1);
  --color-select-menu-item-hover-icon: rgba(78, 204, 163, 0.64);
  --color-select-menu-item-active-bg: rgba(78, 204, 163, 0.2);
  --color-select-menu-item-active-icon: #4ECCA3;

  --color-modal-input-bg: #393E46;
  --color-modal-input-bg-hover: #42474f;
  --color-modal-label-box-bg: #393E46;

  --color-schedule-progress-warning: #c94c3c;
  --color-schedule-progress-warning-hover: #ce5a4b;
  --color-schedule-progress: #21b26f;
  --color-schedule-progress-hover: #30d789;

  --color-priority-1: #BE79DE;
  --color-priority-2: #d03f4e;
  --color-priority-3: #1c8858;
  --color-priority-4: #2675e8;
  --color-priority-5: #af6c36;

  --color-1: #634D76;
  --color-2: #773842;
  --color-3: #1E5441;
  --color-4: #2A538F;
  --color-5: #6C4B32;

  --color-hover-1: #715886;
  --color-hover-2: #88414c;
  --color-hover-3: #25644d;
  --color-hover-4: #315ea1;
  --color-hover-5: #79553a;

  --color-react-modal-container: #232931;
  --color-react-modal-overlay: rgba(14, 14, 14, 0.85);

  --color-react-loader-background: #363b43;
  --color-react-loader-forground: #3f454e;

  --toastify-color-dark: #232931;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --color-scrollbar-track: #232931;
  --color-scrollbar-handle: #4e555e;
  --color-scrollbar-handle-hover: #5b626b;
}