@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.schedule-progress-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .schedule-progress-bar-container {
    .schedule-progress-bar-date-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.15rem;

      .schedule-progress-bar-date-icon {
        color: var(--color-icon);

        &:hover {
          color: var(--color-icon-complement);
        }
      }
    }

    .schedule-progress-bar {
      background-color: var(--color-secondary-complement);
      height: 10px;
      border-radius: 10px;

      div {
        background-color: var(--color-schedule-progress);
        border-radius: 10px;
        height: 10px;

        &:hover {
          background-color: var(--color-schedule-progress-hover);
        }
      }
    }
  }

  .schedule-progress-bar-warning {
    div {
      background-color: var(--color-schedule-progress-warning);

      &:hover {
        background-color: var(--color-schedule-progress-warning-hover);
      }
    }
  }
}


