@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.schedule-progress-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .schedule-progress-bar-container {
    .schedule-progress-bar-date-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.15rem;

      .schedule-progress-bar-date-icon {
        color: var(--color-icon);

        &:hover {
          color: var(--color-icon-complement);
        }
      }
    }

    .schedule-progress-bar {
      position: relative;
      background-color: var(--color-secondary-complement);
      height: 16px;
      border-radius: 6px;

      &:hover {
        .schedule-progress-bar-bar {
          background-color: var(--color-schedule-progress-hover);
        }
      }

      .schedule-progress-bar-text {
        position: absolute;
        left: 50%;
        transform: translateX(-55%);
        font-size: 10px;
        color: var(--color-text);
        white-space: nowrap;
      }

      .schedule-progress-bar-bar {
        background-color: var(--color-schedule-progress);
        border-radius: 6px;
        height: 16px;
      }
    }
  }

  .schedule-progress-bar-warning {
    .schedule-progress-bar-bar {
      background-color: var(--color-schedule-progress-warning) !important;

      &:hover {
        background-color: var(--color-schedule-progress-warning-hover) !important;
      }
    }
  }
}


