.setting {
  padding-top: 1rem;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 15px;
  margin-bottom: 2rem;

  .setting-title {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border-radius: 15px;
    margin-left: 0.5rem;

    span {
      color: var(--color-primary-transparentize);
      font-size: 24px;
      padding-right: 0.75rem;
    }

    h3 {
      color: var(--color-text);
      padding: 0;
      margin: 0;
      font-size: 22px;
    }
  }

  .setting-data-box {
    width: 100%;
  }
}
