@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.show-projects-container {
  height: 100%;
  width: 100%;

  .projects-list-wrapper {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
