.task-input-checkbox {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: var(--color-task-checkbox);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s, transform 0.1s;
  cursor: pointer;
  border: 3px solid var(--color-task-checkbox-border);

  &:hover {
    background-color: var(--color-task-checkbox-hover);
  }

  span {
    opacity: 0;
    font-size: 15px;
    transform: translateY(1px);
    transition: color 0.25s;
  }
}

.task-input-checkbox-active {
  background-color: var(--color-primary) !important;
  border-color: transparent !important;

  span {
    color: var(--color-secondary-complement) !important;
    opacity: 1 !important;
  }
}

.task-input-checkbox-mouse-down {
  transform: scale(0.95);
}