.chart-container {
  top: 15px;
  position: sticky;
  width: 60%;
  height: calc(95vh - 70px);
  max-height: 550px;
  background-color: var(--color-secondary);
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem 0 0 0.5rem;

  @media screen and (max-width: 1410px) {
    position: relative;
    top: 0;
    width: 100%;
    margin: 1rem 0 0 0;
  }

  @media screen and (max-width: 768px) {
    max-height: 450px;
  }

  @media screen and (max-width: 500px) {
    max-height: 300px;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }
}

.chart-loader-component {
  position: sticky;
  top: 15px;

  @media screen and (max-width: 1410px) {
    position: relative;
    top: 0;
  }
}