@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.assignee {
  margin-top: 1rem;
  width: 100%;

  .assignee-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    .assignee-not-selected {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0.5rem 0.5rem 0.25rem 0.5rem;
      border-radius: 15px 0 0 15px;
      background-color: $primary;
      width: 20%;

      div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: border-color 1s;
        background-color: $second-white;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: $icon;
        }
      }

      span {
        margin-top: 0.1rem;
        text-align: center;
        color: $second-white;
        font-size: 12px;
        transition: color 1s;
        white-space: nowrap;
      }
    }

    .assignee-selected-user {
      @extend .assignee-not-selected;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $second-white;
        transition: border-color 1s;
      }
    }


    .assignee-users-list {
      width: 80%;
      padding-right: 1rem;
      background-color: lighten($color: $white, $amount: 5%);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      border-radius: 0 15px 15px 0;

      ul {
        @include reset_list();
        @include reset_scrollbar();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0.5rem 0.25rem 0.5rem;
        overflow-x: scroll;

        li {
          padding: 0 0.5rem;

          label {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid $icon;
              transition: border-color 1s;
            }

            span {
              margin-top: 0.1rem;
              text-align: center;
              color: transparentize($color: $text, $amount: 0.3);
              font-size: 12px;
              transition: color 1s;
            }
          }
        }

        .user-selected {
          label {
            img {
              border-color: $primary;
            }

            span {
              color: darken($color: $primary, $amount: 10%);
            }
          }
        }
      }
    }
  }
}
