@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.members {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;

  &:hover {
    .member {
      transform: translateX(0) !important;
    }
  }

  .members-count {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    margin-left: 0.1rem;

    span {
      font-size: 11px;
      color: var(--color-white);
    }
  }
}