@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.projects {
  height: 100%;
  padding: 1rem;

  @media screen and (max-width: 600px) {
    height: 110%;
    padding: 1rem 0 0 0;
  }
}
