@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.labels {
  position: relative;
  margin-top: 1rem;
  width: 100%;

  .labels-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: var(--color-modal-input-bg);
    padding: 0.5rem 0;
    border-radius: 15px;
    transition: background-color 0.25s;

    &:focus,
    &:hover {
      background-color: var(--color-modal-input-bg-hover);
    }

    & > span {
      color: var(--color-primary);
      padding: 0 0.5rem 0 1rem;
    }

    input {
      @include reset_input();
      color: var(--color-text);
      width: 100%;

      &::placeholder {
        color: var(--color-icon);
      }
    }
  }
}
