@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.sections-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;

  .sections {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

}
