@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.sections-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  height: 100%;

  .create-input-container {
    margin: 1rem 2.5rem 0 1.5rem;
  }

  .sections {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    .section-tasks {
      margin: 1rem 2.5rem 0 0;
    }
  }
}
