@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.filter-settings-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-settings-search {
    transition: background-color 0.25s;
    border-radius: 15px;
    background-color: transparentize($color: $second-white, $amount: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.75rem;

    &:hover,
    &:focus-within {
      background-color: $second-white;
    }

    button {
      @include reset_input();
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        span {
          color: $primary;
        }
      }
      span {
        transition: color 0.25s;
        color: $icon;
        font-size: 20px;
      }
    }

    input {
      @include reset_input();
      font-size: 18px;
      padding: 0.75rem;
      color: $icon;
    }
  }

  .filter-settings {
    display: flex;
    justify-content: center;
    align-items: center;

    .filter-settings-sortby {
      margin-right: 1.5rem;
      select {
        @include reset_input();

        appearance: none;
        padding: 0.75rem;
        transition: background-color 0.25s;
        border-radius: 15px;
        background-color: $second-white;

        &:focus {
          background-color: $second-white;
        }
      }
    }

    .filter-settings-view-mode {
      padding: 0.75rem;
      transition: background-color 0.25s;
      border-radius: 15px;
      background-color: $second-white;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        @include reset_input();
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: $icon;
          font-size: 24px;
          transition: color 0.25s;
        }
      }

      .filter-settings-view-mode-active {
        span {
          color: $primary !important;
        }
      }
    }
  }
}
