@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.section-tasks {
  width: 350px;
  margin: 2rem 2.5rem 0 0;

  .section-tasks-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 15px;

    .section-tasks-head-title {
      color: var(--color-text);
      padding: 0;
      margin: 0;
    }

    .section-tasks-head-menu {
      cursor: pointer;

      &:hover {
        span {
          color: var(--color-primary);
        }
      }

      span {
        margin-top: 0.5rem;
        color: var(--color-icon);
        transition: color 0.25s;
        font-size: 20px;
      }
    }
  }

  .section-tasks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-tasks-list-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
