@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: background-color 0.25s;
  background-color: lighten($color: $white, $amount: 5%);

  &:focus,
  &:hover {
    background-color: var(--color-input-hover);
  }

  .schedule-input {
    @include reset_input();
    color: $text;

    &:placeholder {
      color: $icon;
    }
  }

  .schedule-clear-icon {
    @include reset_input();
    color: red;
    font-size: 24px;
  }

  .schedule-icon {
    @include reset_input();
    color: $primary;
    font-size: 20px;
    cursor: default;
  }
}

.react-datepicker-popper {
  z-index: 200 !important;
}
