@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.upload-picture-modal {
  overflow: hidden;

  .upload-picture-modal-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .upload-picture-modal-inputs-wallpaper {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .upload-picture-modal-wallpaper-preview {
        position: absolute;
        width: 100%;
        height: 100%;

        label {
          button {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0 0.5rem 0.5rem 0;
            z-index: 200;

            span {
              font-size: 13px;
            }
          }
        }
      }

      .upload-picture-modal-inputs-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(60px);
        z-index: 200;

        .upload-input-label {
          button {
            margin-top: 0.75rem;
          }
        }
      }
    }

    .upload-picture-modal-inputs-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6rem;
      padding: 1rem;

      .upload-picture-modal-profile-name {
        @include reset_input();
        color: var(--color-text);
        background-color: var(--color-modal-input-bg);
        border-radius: 15px;
        padding: 0.5rem 1rem;

        &:focus,
        &:hover {
          background-color: var(--color-modal-input-bg-hover);
        }
      }

      .upload-picture-modal-profile-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
          transform: translateX(1px);
        }
      }
    }
  }
}
