@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.loading-screen {
  width: 100%;
  height: calc(100vh - 72px);
  background-color: var(--color-loading-screen-bg);
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-screen-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      font-size: 50px;
      color: var(--color-loading-screen-spinner);
      margin-bottom: 0.75rem;

      @media screen and (max-width: 500px) {
        margin-bottom: 0.5rem;
        font-size: 40px;
      }
    }

    p {
      color: var(--color-text);
      font-size: 22px;
      margin-top: 0.75rem;

      @media screen and (max-width: 500px) {
        font-size: 18px;
        margin-top: 0.5rem;
      }
    }
  }
}
